/*
	Created on   : 21/02/2019.
	Project Name : Portfolio.
	Description  : Portfolio for AharrFaris.
	Author       : AharrFaris.
	Developed by : Habibullah(aharrfaris@gmail.com)

*/



/* ====================================
    Pre-Settlements
======================================== */
@import url( 'css/bootstrap.css' );
@import url( 'sass/sass.css' );
@import url( 'font/portfolio/flaticon.css' );


/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import url('https://fonts.googleapis.com/css?family=Carter+One');

@import url('https://fonts.googleapis.com/css?family=Oswald:200');

@import url('https://fonts.googleapis.com/css?family=Coiny');

@import url('https://fonts.googleapis.com/css?family=Montserrat');



html, body
{
	overflow-x: hidden;
}

body
{
	background: #000;
	color: #fff
}

/* loading =====*/
#overlay
{
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}

#overlay .loading
{
	background: url(img/loading.gif) no-repeat center;
	width: 100%;
	height: 100%;
	color: rgba(70, 68, 68, 0.4);
}

a[data-toggle="tooltip"]
{
	color: rgba(255, 0, 0, 0.514) !important;
}
/* ===================================
    Main-Settlements
======================================= */


/* =================================
    Responsive-Settlements
==================================== */