// ===========================
// pre-settlements
// ===========================

*
  &:focus
    box-shadow: none !important


// Variables
// ===========

// fonts =======
$f: 15px

// font-weight

// font-family
$os: 'Open Sans', sans-serif
$osc: 'Open Sans Condensed', sans-serif
$cone: 'Carter One', cursive
$osw: 'Oswald', sans-serif
$coi: 'Coiny', cursive
$mon: 'Montserrat', sans-serif

// classes
.container
  max-width: 1200px !important


// Mixins
// ==========

// ===========================
// style
// ===========================

// fixed
// ========

.cus_cont
  max-width: 450px
  margin: 0 auto
  @media( max-width: 320px )
    max-width: 300px

.cus_cont_2
  max-width: 650px
  margin: 0 auto

.list-group
  width: 200px
  padding-top: 50px
  .list-group-item
    background: rgba(78, 75, 75, 0.5)
    text-align: center !important
    a
      font-family: $cone
      font-size: $f + 10
      color: lightgrey
      text-decoration: none
      &:hover
        color: rgba(255, 68, 0, 0.7)
    
  .active
    background: rgba(255, 0, 0, 0.3)
    border: none
    a
      &:hover
        color: #fff

// pages
//==========

// index ====
#index
  canvas
    height: 600px !important
    position: absolute
    top: 0
  .profile_block
    background: rgba(78, 75, 75, 0.5)
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5)
    width: 500px
    margin: 300px auto 30px 
    font-family: $os
    padding: 30px 0
    img
      width: 300px
      height: 300px
      z-index: 1
    .info
      text-align: center
      margin-top: 20px
      h1
        font-size: 45px
        font-weight: 300 !important
      h3
        font-family: $osc
        font-size: 25px
        margin-top: 20px
        font-weight: 300 !important
      a
        color: rgba(255, 68, 0, 0.7)
        &:hover
          text-decoration: none
          color: #fff
  @media( max-width: 560px )
    .profile_block
      width: auto
      top: -300px
      img
        width: 250px
        height: 250px
      .info
        h1
          font-size: 36px
        h3
          font-size: 16px

  // about
  #about
    color: #fff
    margin-top: 50px 
    h3
      font-family: $osw
      font-size: 38px
      line-height: 60px
    header, aside
      margin-top: 50px
      padding: 15px
    header
      span
        &::after
        content: ''
        background: url(../img/svg/cowboy_hat.svg) no-repeat center center
        background-size: cover
        position: absolute
        top: 0
        width: 60px
        height: 50px
      &::after
        content: ''
        background: url(../img/svg/about_bg.svg) no-repeat center center
        background-size: cover
        position: absolute
        top: -20px
        left: -300px
        width: 1350px
        height: 380px
        @media( max-width: 590px )
          height: 430px
        @media( max-width: 434px )
          height: 550px

    aside
      padding-top: 40px
      @media( max-width: 992px )
        padding-top: 0
      .lead
        font-family: $osc
        font-size: 22px !important

  // tools
  #my_tool, #skills
    margin-top: 100px
    font-family: $coi

  #my_tool
    h2
      span
        &::after
          content: ''
          background: url(../img/svg/stroke_1.svg) no-repeat center center
          background-size: cover
          position: absolute
          width: 300px
          height: 50px
          z-index: -1
    a
      margin-top: 50px

      img
        width: 70px
        height: 70px
  
  #skills
    h2
      font-size: 45px
      span
        &::after
          content: ''
          background: url(../img/svg/stroke_2.svg) no-repeat center center
          background-size: cover
          position: absolute
          width: 300px
          height: 50px
          z-index: -1
    .cus_cont_2
      .skill_block
        margin-top: 100px
        @media( max-width: 768px )
          margin-top: 175px
        h3
          color: rgba(255, 0, 0, 0.7)
          text-align: center
      .skill
        margin-top: 30px
        font-family: $mon
        @media( max-width: 768px )
          margin-top: 60px
          padding: 0 15px
        p
          font-size: 18px
        .progress
          padding: 0
          height: 25px
          background: #333
          .progress-bar
            background: rgba(255, 0, 0, 0.2)
  
// footer
footer
  text-align: center
  margin-top: 100px
  padding: 50px 15px
  p
    margin-top: 30px
    span
      color: red
  h4
    margin-top: 30px
    font-family: $coi
  h5
    a
      color: #888
      &:hover
        text-decoration: none
        color: rgba(255, 68, 0, 0.5)
  .icon_block
    margin-top: 20px
    a
      color: #fff
      margin: 0 8px
      transition: .3s ease-in-out
      span
        &::before
          margin-left: 0
      &:hover
        color: red
        text-decoration: none
